{% extends "base.html" %}

{% block title %}Execute transfers{% endblock %}

{% block content %}
<br />
<h1>Here you can execute pending transfers!</h1>
<br />
<table>
  <tr>
    <th>#</th>
    <th class="transferTitle">Title</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Action</th>
  </tr>
  {% for transfer in transfers %}
  <tr>
    <td class="counterCell"></td>
    <td class="transferTitle">
      {% autoescape false %}
      {{ transfer.title }}
      {% endautoescape %}
    </td>
    <td>{{ transfer.amount }}</td>
    <td>{{ transfer.date }}</td>
    <td>
      {% if transfer.is_executed %}
        <button class="btn btn-primary" disabled>Done</button>
      {% else %}
        <form method="POST">
          <input type="hidden" name="transfer_id" value="{{ transfer.id }}">
          <button type="submit" class="btn btn-primary executeButton">Execute</button>
        </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<script>
  checkSessionStorage();
</script>

{% endblock %}
